<div class="container">

  <div class="row justify-content-center mb-4">
    <h1 class="text-center"><%= @list.name %></h1>
    <div class="col-12 text-center">
    <%= link_to "Add a Bookmark", new_list_bookmark_path(@list), class: "btn btn-success" %>
    </div>
  </div>

  <div class="row justify-content-center">
    <% @list.movies.each do |movie| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <div class="movie-image mb-3" style="width:100%; height:200px; overflow:hidden;">
              <img src="<%= movie.poster_url %>" style="width:100%;"/>
            </div>
            <h5 class="card-title"><%= movie.title %></h5>
            <p class="card-text small"><%= movie.overview %></p>
            <% movie.bookmarks.each do |bookmark| %>
              <p class="card-text">" <em><%= bookmark.comment %> "</em></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row justify-content-center mb-4">
    <div class="col-12 text-center">
    <%= link_to "Back to Lists", lists_path, class: "btn btn-primary" %>
    </div>
  </div>

</div>
