<div class="container">
  <div class="row justify-content-center mb-4">`
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path(@list.photo.key) %>')">
    <%= @list.name %>
    </div>
    <div class="row mb-4 p-3">
      <div class="col-6 text-start">
        <%= link_to "Add a Movie Bookmark", new_list_bookmark_path(@list), class: "btn btn-outline-success" %>
      </div>
      <div class="col-6 text-end">
        <%= button_to "Delete list", list_path(@list), method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}}, class: "btn btn-danger text-white" %>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <% @list.movies.each do |movie| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <div class="movie-image mb-3" style="width:100%; height:200px; overflow:hidden;">
              <%= image_tag movie.poster_url, style: "width:100%;" %>
            </div>
            <h5 class="card-title mx-auto"><%= movie.title %> / <%= movie.rating %><i class="fa-solid fa-star mx-1" style="color: #fff700;"></i></h5>
            <p class="card-text small"><%= movie.overview %></p>
            <% movie.bookmarks.each do |bookmark| %>
              <p class="card-text">" <em><%= bookmark.comment %> "</em></p>
              <%= button_to "Delete Bookmark", bookmark_path(bookmark), method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}} %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <hr>

  <div class="bg-white p-3">
    <div class="row justify-content-center mb-4">
      <div class="col-md-6">
        <h3>Reviews</h3>
        <% @list.reviews.each do |review| %>
          <p>Rating:
          <% review.rating.times do %>
              <span style="display: inline-block;"><i class="fa-solid fa-star" style="color: #ffea00;"></i></span>
          <% end %></P>
          <em><strong>" <%= review.text %> "</strong></em>
          <hr>
        <% end %>
      </div>
      <div class="col-md-6">
        <h4>Add your review</h4>
        <%= simple_form_for([@list, @review]) do |f| %>
          <%= f.input :rating, collection: [1, 2, 3, 4, 5], label: "Rating" %>
          <%= f.input :text, label: "Comment", input_html: { class: "form-control" } %>
          <%= f.button :submit, "Create review", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
